<div class="container center">
    
    <h1>Testing Bootstrap Navbar</h1>
    <br></br><br></br>
    <br></br><br></br>
    
    <%= link_to new_wallpaper_path do %>
      <button type="button" class="btn btn-success" aria-label="Left Align">
        <span class="fa fa-plus fa-lg" aria-hidden="true"></span>
      </button>
    <% end %>
    &nbsp;&nbsp;
    <%= link_to new_wallpaper_path do %>
      <button type="button" class="btn btn-default" aria-label="Left Align">
        <span class="fa fa-user fa-lg" aria-hidden="true"></span>
      </button>
    <% end %>
    
                      <ul class="nav navbar-nav navbar-right">
                <li>
                  <%= link_to new_wallpaper_path do %>
                  <button class="btn btn-success" type="submit">
                    <span class="glyphicon glyphicon-plus"></span>
                  </button>
                  <% end %>
                  </li>
                <li class="dropdown">
                  <a href="#" class="btn btn-default navbar-btn glyphicon glyphicon-user dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-register"></span> Register</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
              </ul>
    


</div>



<nav class="navbar navbar-inverse" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-3">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#"><i class="fa fa-home fa-fw"></i>Start</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-3">
    <ul class="nav navbar-nav">

        <li class="dropdown"> 
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-gift fa-fw"></i> Benefit</a>
       
         <ul class="dropdown-menu">
          <li><a href="#"> Hinzufuegen </a></li>
          <li><a href="#"> Benefitanbieter </a></li>
		   <li><a href="#"> Benefitpordukte n.LA </a></li>
          
         </ul>
        </li>
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-building-o fa-fw"></i> company</a>
        <ul class="dropdown-menu">
         <li><a href="#"> Anlegen </a></li>
          <li><a href="#">  Anlegen/Bearbeiten </a></li>
              </ul> 
           </li> 
      
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-tachometer fa-fw"></i> Home</a></li> 
    	
      		<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-users fa-fw"></i> Kunden</a></li> 
      
           <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-ticket fa-fw"></i> Modul Gesundheit</a>
           <ul class="dropdown-menu">
            <li><a href="#"><i class="fa fa-calendar fa-fw"></i> Buchungen </a></li>
              </ul> 
           </li> 
      
      
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>


<!--===================== custom nav ===========================-->

<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Brand</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
