<div class="container center">
    <%= link_to new_wallpaper_path do %>
      <button type="button" class="btn btn-success" aria-label="Left Align">
        <span class="fa fa-plus fa-lg" aria-hidden="true"></span>
      </button>
    <% end %>
</div>